{% extends "base.html" %}
{% block content %}
<h2>{{ page_title }}</h2>
<p>
    A brilliant group of London-based detectives, famous for our prowess at using logic and astute observation to solve
    cases.
    "It is our business to know what other people don't know."
</p>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Sherlock Holmes</h3>
        <p>
            William Sherlock Scott Holmes[1] (Benedict Cumberbatch) describes himself initially as "a consulting detective, the
            only one in the world",[2] helping out Scotland Yard when they are out of their depth with cases (usually
            homicides). He appears as a tall, thin man with dark, curly hair. Like the original character, Sherlock is highly
            intelligent and able to deduce or abduce information from the small details. According to Molly Hooper in the
            episode The Sign of Three, he is a graduate chemist.
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Sherlock_Holmes_Portrait_Paget.jpg" alt="">
    </div>
</div>

<div class="row featurette">
    <div class="col-md-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/00/Gree-01.jpg" alt="">
    </div>
    <div class="col-md-7">
        <h3>John Watson</h3>
        <p>
            John Hamish Watson (Martin Freeman) is Sherlock's best friend. He is often a foil to Sherlock in both appearance and
            personality. Unlike Sherlock, John is short with blond hair. He is friendly, compassionate, and patient, compared to
            Sherlock's aloof, cold-hearted tendencies. He gets on better with the police and takes care of practical matters at
            their flat, apparently doing most of the shopping. Sherlock has called him "the wisest, warmest human being [he]
            knows", and has stated that "the warmth and constancy of [John's] friendship" can redeem even a "rude, ignorant,
            all-around obnoxious arsehole like [Sherlock]".
        </p>
    </div>
</div>

<div class="row featurette">
    <div class="col-md-7">
        <h3>Sherlock Holmes</h3>
        <p>
            Detective Inspector Greg Lestrade (Rupert Graves) works for Scotland Yard. He has a reluctant respect for Sherlock
            and often defends him from the other police officers' animosity. He is often frustrated by Sherlock's cryptic
            deductions and habit of withholding evidence, but believes that he is a great man (hoping that one day, he can
            overcome his poorer qualities, and become a "good" man).
        </p>
    </div>
    <div class="col-md-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/The_Adventure_of_the_Cardboard_Box_06.jpg" alt="">
    </div>
</div>


{% endblock %}