{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        A brilliant group of London-based detectives, famous for our prowess at using logic and astute observation to solve
        cases.
        "It is our business to know what other people don't know."
    </p>

    {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
            
            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                <div class="col-md-7">
                    <h3>{{ loop.index }}. {{ member.name }}</h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}

        </div>

        {% if loop.index != loop.length %}

            <hr class="featurette-divider">

        {% endif %}

    {% endfor %}

{% endblock %}